@import '~bootstrap/scss/bootstrap';
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Header

.navbar {
    background-color: #FF8100;
}

.top-bar {
    height: 75px;
}

.logo-deliveboo {
    width: 20vh;
}

//End header

//Main

.sidebar {
    background-color: #FF8100;
    min-height: calc(100vh - 75px);
    width: 250px;
}

.background-image {
    background-image: url('../img/background/1.png');
    background-blend-mode: overlay;
}

//End main

//Register form

.conditions-text {
    font-size: 9px;
}

//End register form


//Utilities

.deliv-orange {
    background-color: #FF8100;

}

.button-color {
    background-color: #90BB3F;
}

.box-shadow {
    box-shadow: 0 0 10px 5px rgb(0 0 0);
}

//End utilities