@import '~bootstrap/scss/bootstrap';
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #FF8100;
}

.logo-deliveboo {
    width: 20vh;
}

body {
    background-image: url("../img/background/bg-back.png");
    background-color: #635447;
    background-size: cover;
}

.top-bar {
    height: 75px;

}

.form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 16px rgba(0, 0, 0, 0.918);
}

.sidebar {
    background-color: #FF8100;
    min-height: calc(100vh - 75px);
    width: 250px;
}