@import '~bootstrap/scss/bootstrap';
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #FF8100;
}

.logo-deliveboo{
    width: 20vh;
}

body{
    background-image: url("../img/background/bg-back.png");
    background-color: #ffffff;
}

.top-bar{
    height: 75px;

}



.sidebar{
    background-color: #FF8100;
    min-height: calc(100vh - 75px);
    width: 250px;
}

